<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dpn="http://typo3.org/ns/Featdd/DpnGlossary/ViewHelpers"

      dpn:schemaLocation="http://schemas.featdd.de/dpn_glossary.xsd">

  <f:layout name="Default"/>

  <f:section name="Main">

    <f:render partial="Term/Properties" arguments="{term: term}"/>

  <div class="glossar-pag">
    <a class="btn btn-primary" title="Bahá'í-Glossar" href="javascript:history.back()">« zurück</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f:format.html parseFuncTSPath="lib.parseFunc"><a class="btn btn-primary" title="Bahá'í-Glossar" href="t3://page?uid=413">zum Glossar »</a></f:format.html> </p>
  </div>

  </f:section>

</html>
