<div class="pageheader container">
  <a href="#" class="scrollToTop fa fa-chevron-up fa-lg"></a>
	<div class="row">
		<div class="mainnav">
			<nav class="main-nav container" role="navigation">
				<input id="main-menu-state" type="checkbox"/>
				<label class="main-menu-btn" for="main-menu-state" title="Close">
					<span class="main-menu-btn-icon"></span>
				</label>
			<f:render partial="MainNavigation" arguments="{_all}"/>
			</nav>
		</div>
			<f:render partial="SearchForm"/> 
			<f:if condition="{languageMenu}">
        <f:render partial="LanguageMenu" arguments="{_all}" />
			</f:if>
	</div>
</div>
<f:render section="Default" />
<div class="content-container">
<div class="container maincontent">
	<!--TYPO3SEARCH_begin-->
	<div class="row">
		<div class="col-md-12">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
		</div>
	</div>
</div>
<div class="container maincontent4">
	<div class="row">
		<div class="col-md-4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '8'}" />
		</div>
		<div class="col-md-4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '7'}" />
		</div>
		<div class="col-md-4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '6', slide: '-1'}" />
		</div>
	</div> 
</div>
<div class="container maincontent2">
	<div class="row">
		<div class="col-md-4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1', slide: '-1'}" />
		</div>
		<div class="col-md-4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '3', slide: '-1'}" />
		</div>
		<div class="col-md-4">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '2', slide: '-1'}" />
		</div>
	</div> 
</div>
	<!--TYPO3SEARCH_end-->
</div>

<div class="container maincontent3">
	<div class="row">
		<div class="col-md-12">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}", slide: '-1'}" />
		</div>
		</div>
	</div>
</div>
    <f:render partial="Footer"/>
